.ScoreTable {
  align-self: center;
  width: 80%;
  border-collapse: collapse;
  font-size: 2rem;
  background-color: black;
  color: white;
}

table,
th,
td {
  text-overflow: clip;
  border: 1px solid white;
}

th:nth-child(2) {
  width: 50%;
}
