.Info {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(61, 0, 0, 1) 40%,
    rgba(149, 1, 1, 1) 100%
  );
  padding: 10px;
  margin: 5px;
  margin-top: 0px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.info-content {
  color: #ffffff;
  background-color: var(--color-one);
  border-radius: 10px;
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  font-size: 2.5rem;
}

a {
  color: var(--color-three);
  text-decoration: none;
  width: 25%;
}

.images {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.ref-img {
  filter: invert(100%);
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.ref-img:hover {
  transform: scale(1.05);
}
