@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Quantico&display=swap");

:root {
  --color-one: #000000;
  --color-two: #3d0000;
  --color-three: #950101;
  --color-four: #ff0000;
  --color-text: #0000b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pangolin", sans-serif;
}
